.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #4cafef;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.2rem;
  color: #4cafef;
  margin-bottom: 10px;
}

.description {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}
